/* Comunes */

.nav_icono {
    position:absolute;
    bottom:-225px;
    left:13px;
  }

.nav.side-menu> li > a{
    background: rgb(92, 73, 71)!important;
    padding-bottom: 12px;
}

.nav.side-menu> li > a:hover{
    background: #96221A!important;
}

.h2_new{
    color: #544343 !important;
    margin-top:110px!important;
    margin-bottom:20px!important;
  }

.cajaSeparador{
    background: #5CC2B6;
    padding:20px;
    border-radius: 5px;
    color:white;

}

  /* tabla */

table {
    font-family: arial, sans-serif !important;
    border-collapse: collapse !important;
    width: 100%;
}

td, th {
    border: 1px solid #ffffff !important;
    padding: 8px;
    color: black;
    text-align: center;
}

th{
    background: #A29090 !important;
}

tr:nth-child(even) {
    background-color: #dddddd ;
}

/* vista general encuestas */

.no_activa{
    background: #F5BCA9;
}

.activa{
    background: #A9F5BC;
}

.texto_oculto{
    display:none
}

td.icons_table{
    color: #544343;
    font-size:20px; 
    text-align: center;
}

.icono{
    padding-right: 15px;
    padding-left: 15px;
}

/* contador de pasos*/

.pasos a{
    text-decoration-line: none
}











  