/* Comunes */
:root {
    --Gris-oscuro: #524c57;
    --Gris-Fondo:#c4c8d4;
    --Gris-bloques: #d6d9e1;
    }

.nav_icono {
    position:absolute;
    bottom:-225px;
    left:13px;
  }

.nav.side-menu> li > a{
    background:var(--Gris-oscuro)!important;
    padding-bottom: 12px;
}


.h2_new{
    color: #524c57 !important;
    margin-top:110px!important;
    margin-bottom:20px!important;
  }

.cajaSeparador{
    background:#F7F7F7  ;
    border-radius: 5px;
}

.padding20{
    padding:20px;
}

.textosemidestacado{
    color:#d6e9c6;
}

.tictic{
    margin-bottom:5px!important;
    margin-right:15px!important;
}

  /* tabla */

table {
    font-family: arial, sans-serif !important;
    border-collapse: collapse !important;
    width: 100%;
}

td, th {
    border: 1px solid #ffffff !important;
    padding: 8px;
    color: black;
    text-align: center;
}

th{
    background: #ddd !important;
}

tr:nth-child(even) {
    background-color: #F2F2F2 ;
}

.type25{
    font-size: 16px;
}

/* vista general encuestas */

.no_activa{
    background: #EFF8FB;
}

.activa{
    background: #A9F5BC;
}

.texto_oculto{
    display:none
}

td.icons_table{
    color: #524c57;
    font-size:20px; 
    text-align: center;
}

.icono{
    padding-right: 15px;
    padding-left: 15px;
}

/* contador de pasos*/

.pasos a{
    text-decoration-line: none
}

.formpreguntas{
    background-color:#A9F5BC;
    }


/*seccion preguntas*/


.panelpreguntas{
    background: #f7f7f7;
    color:#524c57;
}

.gris{
    background: #EDEDED!important;
    margin-bottom: 15px; 
    padding:15px;
}

hr{
    margin-top: 0px;
    margin-bottom: 10px;
}

label.margen{
    padding-left: 2px;   
    padding-bottom: 11px;
    text-align: left!important;
    display: block;
}

.margeninferior{
    margin-bottom: 9px;
}

.input-group-addon.green{
    background: #04B486;
}

.plusgreen {
    background: #04B486!important;
    color:white;
}


/*paso 5*/

.centrovertical{
    align-items:center;
    border:0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    display:flex; 
}















  